h1 {
    background-color: white;
    text-shadow: 3px 3px 10px red;
    font-size: 60px;
}

a:link,
a:visited {
    background-color: rgb(184, 114, 114);
    color: white;
    font-size: 25px;
    padding: 20px 30px;
    display: inline-block;
    /* border: violet solid 5px; */
}

a:hover {
    background-color: rgb(126, 126, 248);
    /* border: black solid 5px; */
}

body {
    /* background: url('../assets/images/1060308.png'); */
    /* background-color: violet; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p {
    color: blue;
    font-size: 25px;
}

h2 {
    font-size: 40px;
}

h2:hover {
    font-size: 40px;
    color: darkblue;
}

ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

li {
    float: left;
}

.hello {
    border: rgba(255, 99, 71, 0.5) 3px solid;
    border-radius: 10%;
    font-size: 50px;
}